// from 0px up
$xs-dn: 'max-width:575px';

// from 576px up
$xs-up: 'min-width:576px';

// from 767px down
$sm-dn: 'max-width:767px';

// from 768px
$sm-up: 'min-width:768px';

// from 991px down
$md-dn: 'max-width:991px';

// from 992px
$md-up: 'min-width:1025px';

// from 1023px down
$mdl-dn: 'max-width:1024px';

// from 1024px
$mdl-up: 'min-width:1025px';

// from 1199px down
$lg-dn: 'max-width:1199px';

// from 1200px
$lg-up: 'min-width:1200px';

// from 1399px down
$xlg-dn: 'max-width:1399px';

// from 1440px
$xlg-up: 'min-width:1440px';

// from 1919px down
$hd-dn: 'min-width:1919px';

// from 1920px
$hd-up: 'min-width:1920px';

// from 2559px down
$uhd-dn: 'min-width:2559px';

// from 2560px
$uhd-up: 'min-width:2560px';