@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Raleway:wght@400;700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

$body-color: black;
$font-family-base: $raleway;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1400px
);

